.button {
  background-color: var(--background-alternate-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--foreground-color);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 2rem 0;
  cursor: pointer;
  font-family: inherit;
}
