.footer {
  text-align: center;
  margin: var(--spacing-xl);
  display: flex;
  gap: var(--spacing-2xs);
  justify-content: center;
  align-items: center;
}

.footer span {
  display: block;
  margin-bottom: var(--spacing-xs);
}

@media (width >= 768px) {
  .footer span {
    display: inline-block;
    margin-right: var(--spacing-xs);
    margin-bottom: 0;
  }
}
