.footer {
  text-align: center;
  margin: var(--spacing-xl) 0;
}

.footer span {
  display: block;
  margin-bottom: var(--spacing-xs);
}

@media (min-width: var(--breakpoint-md)) {
  .footer span {
    display: inline-block;
    margin-right: var(--spacing-xs);
    margin-bottom: 0;
  }
}
