:root {
  --foreground-color: #e8f2f0;
  --foreground-alternate-color: #a9c2bc;
  --background-color: #041619;
  --background-alternate-color: #0b2625;
  --border-color: rgb(255 255 255 / 5%);
  --border-width-thin: 1px;
  --border-width-thick: 5px;
  --radius-sm: 4px;
  --radius-image: 90px;
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 6rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --content-max-width: 730px;
  --content-max-width-narrow: 600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
