.portfolioItem {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  max-width: 730px;
  padding: 0 2rem;
}

.portfolioItem p {
  line-height: 1.6;
}

.portfolioItem p a {
  font-weight: 600;
  text-decoration: underline;
}

.portfolioItem p a:hover {
  color: var(--foreground-alternate-color);
}
