.portfolioItem {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--spacing-md);
  max-width: var(--content-max-width);
  padding: 0 var(--spacing-md);
}

.portfolioItem p {
  line-height: 1.6;
}

.portfolioItem p a {
  font-weight: 600;
  text-decoration: underline;
}

.portfolioItem p a:hover {
  color: var(--foreground-alternate-color);
}

@media (min-width: var(--breakpoint-md)) {
  .portfolioItem {
    padding: 0 var(--spacing-xl);
  }
}
